// BASE

html {
	font-size: $base-font-size + px;
}

body {
	color: $color__text;
	font: $font__body-weight #{$base-font-size}px/#{$base-line-height} $font__body;
}

a {
	color: $color__link;
	transition: $transition__color;
}

img {
	height: auto;
	max-width: 100%;
}
