// CONFIG

/// Set the base (`root`) font size for the project.
///
/// @type Number
$base-font-size: 16 !default;


// Breakpoints
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$desktop-xl: 1800px;
